/*
fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap'); /* for spring */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap'); /* for summer */
@import url('https://fonts.googleapis.com/css2?family=Allan&display=swap'); /* for fall */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap'); /* for winter */

/* Layout */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.2rem;
  background-color: #1f6fbe;
  color:#fff;
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: flex-end;
}

#wine_list {
  display: flex;
  justify-content: center;
}

#space {
  display: fixed;
  margin-top: 3px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  text-align: center;
  background-color: lightgray;
  padding-left: 5px;
  padding-right: 5px;
}

tr {
  vertical-align: middle;
}

td {
  padding-left: 5px;
  padding-right: 5px;
}

#wine_name {
  width: 100px;
}
#wine_category {
  width: 60px;
}
#wine_type {
  width: 200px;
}
#wine_year {
  width: 40px;
}
#wine_winery {
  width: 120px;
}
#wine_year_pur {
  width: 70px;
}
#wine_rating {
  width: 50px;
}
#wine_update {
  width: 30px;
}
#wine_delete {
  width: 30px;
}

/* others */
#notice {
  color: blue;
}

#username {
  color: yellow;
}