/* Layout */
body::after {
  content: "";
  background: url('../images/summer_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}

body {
  font-family: 'Cinzel Decorative', cursive;
}